doctype
html(lang="en")
	head
		title Skeleton of the Pug
	body
		.b
			h2.b__title List of Users
			.b__body
				include ../components/listUsers
		.b
			h2.b__title List of Categories
			.b__body
				include ../components/listCategories
